@{
    Layout = "_Passenger";
    @model List<Passenger>
    
}
<!DOCTYPE html>
<html>
<head>
    <title>Passenger Account</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            background-color: #ffffff;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(340,939,465)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230B2905'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: cover;
        }

        /* Set the background color for the entire page */
        body {
            background-color: #f8f8f8;
        }

        /* Set the padding for the container */
        .container {
            padding: 20px;
        }

        .container1 {
            animation: fadein 1s;
            padding-top:5%;
        }

        @@keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Set the margin for the row */
        .row {
            margin-bottom: 20px;
        }

        /* Set the padding and background color for the navigation menu */
        .navigation-menu {
            padding: 10px;
            background-color: rgb(0,0,0,0);
            
        }

            /* Set the font weight and color for the navigation links */
            .navigation-menu a {
                font-weight: bold;
                color: #333;
            }

                /* Set the padding and background color for the active navigation link */
                .navigation-menu a.active {
                    padding: 5px 10px;
                    background-color: #ddd;
                }

        /* Set the border and padding for the form inputs */
        .form-control {
            border: 1px solid #ccc;
            padding: 5px;
        }

        /* Set the margin and font weight for the form labels */
        .form-group label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        /* Set the margin for the form buttons */
        button[type="submit"],
        button[type="button"] {
            margin-top: 10px;
        }

        /* Set the color and background color for the primary button */
        .btn-primary {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

            /* Set the hover color and background color for the primary button */
            .btn-primary:hover {
                color: #fff;
                background-color: #286090;
                border-color: #204d74;
            }

        /* Set the color and background color for the danger button */
        .btn-danger {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }

            /* Set the hover color and background color for the danger button */
            .btn-danger:hover {
                color: #fff;
                background-color: #c9302c;
                border-color: #ac2925;
            }

        /* Set the font size and margin for the page title */
        h1 {
            font-size: 24px;
            margin-top: 0;
        }

        /* Set the font size for the section titles */
        h3 {
            font-size: 20px;
        }

        .navigation-menu a.active {
            background-color: #ddd;
        }
        .head{
            position:relative;
            left:26%;
            width:16.5%;
        }

        .success-alert {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>

</head>
<body>
    <div class="container1">
    <div class="head">
        <h1>Passenger Account</h1>

    </div>

    <main>
        <form asp-action="Account" method="post" id="update-form">
            @foreach (var passenger in Model)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="navigation-menu">
                                <ul>
                                    <li><a id="myLink1" asp-action="Account">General Information</a></li>
                                    <li><a id="myLink2" asp-action="ChangePassword">Change Password</a></li>
                                    <li><a id="myLink3" asp-action="DelAcc">Delete Account</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="myDiv1">
                                <h3>General Information</h3>
                                <form asp-action="Account" method="post">
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" class="form-control" id="username" value="@passenger.Passname" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone-number">Phone Number:</label>
                                        <input type="text" name="phone" class="form-control" id="phone-number" value="@passenger.Passphone">
                                            @if (ViewBag.ErrorMessage != null)
                                            {
                                                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                                            }
                                            @if (ViewBag.Succ != null)
                                            {
                                                <div class="success-alert">@ViewBag.Succ</div>
                                            }
                                    </div>
                                    <div class="form-group">
                                        <label for="birth-date">Birth Date:</label>
                                        <input type="text" class="form-control" id="birth-date" value="@passenger.Passbirth.ToString("dd/MM/yyyy")" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="medical-condition">Medical Condition:</label>
                                        @if (passenger.PassCondition == 1)
                                        {
                                            <input type="text" class="form-control" id="username" value="Yes" readonly>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" id="username" value="No" readonly>
                                        }
                                    </div>
                                       
                                    <button type="submit" name="Update" value="Clicked" class="btn btn-primary">Update General Information</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </form>
    </main>
    </div>
</body>
</html>